* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e4abab;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h2,
h3,
h4 {
  text-align: center;
  margin: 25px;
}

.container {
  width: 800px;
  padding: 25px;
  background-color: #982e2e;
  border-color: white;
  border-radius: 20px;
}

form {
  display: flex;
  justify-content: space-evenly;
}

input {
  width: 200px;
  height: 30px;
  background-color: #e4abab;
  color: black;
  border: none;
}

::placeholder {
  padding-left: 10px;
  color: black;
}

label {
  font-size: 25px;
}

select {
  background-color: #e4abab;
}

button {
  padding: 10px;
  background-color: #e4abab;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

button:hover {
  background-color: rgb(127, 58, 58);
  color: white;
}

#expense-list li {
  background-color: #e4abab;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

#result {
  text-align: right;
}

.hidden {
  display: none;
}

ul {
  color: black;
}
